version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo-dev
    restart: always
    command: >
      bash -c "
        mongod --replSet rs0 --bind_ip_all &&
        sleep 5 &&
        mongosh --eval 'rs.initiate()'
      "
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password123
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
